.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
migrations/

# database
*.db
data/*.dump
app/data/text_jul25.dump
app/data/text_jul26.dump
app/data/text_jul27.dump
app/data/text_jul31.dump
app/data/data_files.tgz

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
